/* line 9, ../sass/custom.scss */
body, container, container-fluid {
  background: white;
  font-family: "Droid Serif", serif;
  color: #666666;
}

/* line 15, ../sass/custom.scss */
header {
  height: 95px;
  background: white url(../images/header_line.png) no-repeat center bottom;
}

/* line 21, ../sass/custom.scss */
h1.logo {
  background: url(../images/logo.png) no-repeat;
}

/* line 25, ../sass/custom.scss */
h1.logo a {
  display: block;
  position: relative;
  text-indent: -5000px;
  height: 50px;
}

/* line 32, ../sass/custom.scss */
.sub-nav {
  height: 84px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
}

/* line 39, ../sass/custom.scss */
.sub-nav a.btn {
  background: #bbb;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 20px;
  color: #fff;
}

/* line 47, ../sass/custom.scss */
.sub-nav a.btn:hover {
  background-color: #888 !important;
  color: #fff !important;
}

/* line 53, ../sass/custom.scss */
.navbar-default {
  background: none;
  border: none;
}

/* line 58, ../sass/custom.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/* line 63, ../sass/custom.scss */
.nav-pills.nav-justified > .active > a {
  background-color: #33a1bd;
  color: #fff;
}

/* line 69, ../sass/custom.scss */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #888888;
  color: white;
}

/* line 74, ../sass/custom.scss */
.main-book {
  padding: 30px;
  background: url(../images/main_book_bg.png) no-repeat left top;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* line 81, ../sass/custom.scss */
.main-book h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 0;
  font-weight: bold;
}

/* line 88, ../sass/custom.scss */
.main-book h3 {
  font-size: 16px;
  color: #444;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
}

/* line 97, ../sass/custom.scss */
.main-book h4 {
  font-size: 14px;
}

/* line 101, ../sass/custom.scss */
span.dots {
  font-size: 32px;
}

/* line 105, ../sass/custom.scss */
.h-div {
  text-align: center;
  background: url(../images/h-div.gif) no-repeat center 50%;
}

/* line 110, ../sass/custom.scss */
.main-book .h-div {
  margin-bottom: 20px;
  margin-top: 0;
}

/* line 115, ../sass/custom.scss */
.main-book .h-div span {
  background: #dee7e8;
  font-size: 18px;
  font-weight: bold;
}

/* line 121, ../sass/custom.scss */
.h-div span {
  width: auto;
  padding: 5px;
  background: #fff;
}

/* line 128, ../sass/custom.scss */
.main-book a.btn {
  background: #fff;
  display: block;
  text-align: left;
  color: #33a1bd;
  font-weight: bold;
  height: 35px;
}

/* line 137, ../sass/custom.scss */
.main-book a.btn:hover {
  background: #33a1bd;
  color: #fff;
}

/* line 142, ../sass/custom.scss */
.main-book a.btn span.m-name {
  float: left;
}

/* line 146, ../sass/custom.scss */
.main-book a.btn span {
  float: right;
}

/* line 150, ../sass/custom.scss */
.h-div span {
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}

/* line 156, ../sass/custom.scss */
.about-book p {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  padding: 30px;
}

/* line 163, ../sass/custom.scss */
.list-unstyled.details {
  font-weight: bold;
  font-size: 18px;
}

/* line 168, ../sass/custom.scss */
.list-unstyled.details span {
  font-weight: normal;
}

/* line 172, ../sass/custom.scss */
span.author {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

/* line 178, ../sass/custom.scss */
p.review {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 183, ../sass/custom.scss */
.h-div {
  margin-bottom: 30px;
  margin-top: 20px;
}

/* line 188, ../sass/custom.scss */
.also-bouht {
  margin-bottom: 70px;
}

/* line 192, ../sass/custom.scss */
.also-bouht a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f4f4f4;
  text-align: center;
  border: 1px solid #e5e5e5;
}

/* line 201, ../sass/custom.scss */
.also-bouht a:hover {
  text-decoration: none;
}

/* line 205, ../sass/custom.scss */
.also-bouht a span {
  display: block;
}

/* line 209, ../sass/custom.scss */
.also-bouht a span.book-name {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

/* line 215, ../sass/custom.scss */
.also-bouht a span.book-author {
  color: #666666;
  margin-bottom: 15px;
  font-size: 13px;
}

/* line 221, ../sass/custom.scss */
.also-bouht a span.book-price {
  color: #33a1bd;
  font-size: 24px;
  font-weight: bold;
}

/* line 227, ../sass/custom.scss */
.btn.buy {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1;
}

/* line 233, ../sass/custom.scss */
.nav.nav-pills a {
  font-size: 18px;
}

/* line 237, ../sass/custom.scss */
#footer {
  padding: 20px 0;
  background: #eee;
  border-top: 1px solid #ddd;
  font-family: Lato, sans-serif;
}

/* line 244, ../sass/custom.scss */
#footer h3 {
  color: #33a1bd;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/* line 252, ../sass/custom.scss */
#footer ul a {
  color: #444;
  font-size: 14px;
  line-height: 22px;
}

/* line 258, ../sass/custom.scss */
#footer .copyright {
  font-size: 12px;
  color: #888;
  text-align: right;
}

/* line 264, ../sass/custom.scss */
#footer .copyright a {
  width: 48px;
  height: 48px;
  display: block;
  float: right;
  margin-left: 10px;
  margin-top: 15px;
  background: url(../images/icon_fb.png) no-repeat;
}

/* line 274, ../sass/custom.scss */
#footer .copyright a.twt {
  background: url(../images/icon_twitter.png) no-repeat;
}

/* line 278, ../sass/custom.scss */
.top-menu {
  padding-right: 0;
}

/* line 282, ../sass/custom.scss */
.top-menu ul {
  float: right;
  margin-top: 25px;
}

/* line 287, ../sass/custom.scss */
.top-menu ul li {
  display: block;
  float: left;
  font-family: "Lato",sans-serif;
  margin-left: 35px;
}

/* line 294, ../sass/custom.scss */
.top-menu ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  line-height: 40px;
}

/* line 302, ../sass/custom.scss */
.top-menu ul li a:hover {
  color: #33a1bd;
  text-decoration: none;
}

/* line 307, ../sass/custom.scss */
.top-menu button[type="submit"] {
  display: block;
  float: left;
  position: relative;
  left: -4px;
  width: 50px;
  height: 44px;
  background-image: url(../images/button_search.png);
  border: none;
  border-radius: 0 4px 4px 0;
}

/* line 319, ../sass/custom.scss */
.top-menu input[type="text"] {
  width: 230px;
  height: 44px;
  display: block;
  float: left;
  border-width: 2px;
}

/* line 327, ../sass/custom.scss */
.home-banner {
  background: url(../images/banner_back.jpg) no-repeat center top;
  height: 402px;
}

/* line 332, ../sass/custom.scss */
.home-banner .container {
  text-align: center;
  vertical-align: middle;
  height: 402px;
  font-size: 22px;
  font-style: italic;
  color: #444;
}

/* line 341, ../sass/custom.scss */
.home-banner p {
  position: relative;
  top: 40%;
}

/* line 346, ../sass/custom.scss */
.home-banner p span {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #666;
}

/* line 353, ../sass/custom.scss */
.also-bouht.popular {
  margin-bottom: 10px;
}

/* line 357, ../sass/custom.scss */
.also-bouht.popular div {
  margin-bottom: 30px;
}

/* line 361, ../sass/custom.scss */
.explore-topic {
  position: relative;
  height: 247px;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 65px;
}

/* line 369, ../sass/custom.scss */
.no-transition {
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0;
}

/* line 377, ../sass/custom.scss */
.explore-topic.journey {
  background: url(../images/journey_back.jpg) no-repeat center top;
}

/* line 381, ../sass/custom.scss */
.explore-topic.human {
  background: url(../images/human_back.jpg) no-repeat center top;
}

/* line 385, ../sass/custom.scss */
.explore-topic.wisdom {
  background: url(../images/wisdom_back.jpg) no-repeat center top;
}

/* line 389, ../sass/custom.scss */
.explore-topic.circle {
  background: url(../images/circle_back.jpg) no-repeat center top;
}

/* line 393, ../sass/custom.scss */
.explore-topic.community {
  background: url(../images/community_back.jpg) no-repeat center top;
}

/* line 397, ../sass/custom.scss */
.explore-topic span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

/* line 405, ../sass/custom.scss */
.explore-topic p {
  font-size: 16px;
  color: #ddd;
  font-style: italic;
  margin-bottom: 0;
}

/* line 412, ../sass/custom.scss */
.explore-topic a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -45px;
}

/* line 423, ../sass/custom.scss */
.explore-topic a:hover {
  color: #33a1bd;
  border-color: #33a1bd;
}

/* line 428, ../sass/custom.scss */
.h-div.brand {
  color: #33a1bd;
}

/* line 432, ../sass/custom.scss */
p.thought {
  text-align: center;
  padding: 0 10%;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
}

/* line 440, ../sass/custom.scss */
a.cross, a.herder {
  width: 210px;
  height: 70px;
  border: 3px solid #bbbbbb;
  display: block;
  float: left;
  margin-bottom: 40px;
  margin-left: 45px;
  background: url(../images/button_cross.png) no-repeat 15px center;
}

/* line 451, ../sass/custom.scss */
a.cross:hover, a.herder:hover {
  border-color: #33a1bd;
}

/* line 455, ../sass/custom.scss */
a.herder {
  background: url(../images/button_herder.png) no-repeat center center;
}

/* line 459, ../sass/custom.scss */
.row.about, .row.author {
  margin-bottom: 60px;
}

/* line 464, ../sass/custom.scss */
.row.about p,
.row.author p {
  font-size: 18px;
  text-align: center;
  padding: 0 25px;
  margin-bottom: 40px;
}

/* line 471, ../sass/custom.scss */
.author-image {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

/* line 477, ../sass/custom.scss */
.author-image img {
  border: 5px solid #33a1bd;
}

/* line 481, ../sass/custom.scss */
.about-book.topic .col-md-3 {
  margin-bottom: 30px;
}

/* line 485, ../sass/custom.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* line 489, ../sass/custom.scss */
.row.topic-banner {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 400px;
  background: url(../images/topic-banner.jpg) no-repeat center top;
  text-align: center;
}

/* line 497, ../sass/custom.scss */
.row.topic-banner h1 {
  margin-top: 120px;
  margin-bottom: 15px;
  border-bottom: 1px solid #858484;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 506, ../sass/custom.scss */
.row.topic-banner p {
  font-size: 18px;
  color: #ddd;
}

/* line 511, ../sass/custom.scss */
.also-bouht.topic {
  margin-bottom: 10px;
}

/* line 515, ../sass/custom.scss */
a.btn.more {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: #fff;
  background: #33a1bd;
  width: 148px;
  height: 44px;
  line-height: 30px;
  margin-bottom: 40px;
}

/* line 527, ../sass/custom.scss */
.btn.more.loading {
  background: #33a1bd url(../images/loading.gif) no-repeat center top;
}

/* line 531, ../sass/custom.scss */
.btn.more.loading span {
  display: none;
}

/* line 535, ../sass/custom.scss */
.topic.books a {
  background: #fff;
}

/* line 539, ../sass/custom.scss */
.topic.books img {
  border: 5px solid #33a1bd;
}

/* line 543, ../sass/custom.scss */
.topic.books .author-name {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  padding-top: 15px;
}

/* line 550, ../sass/custom.scss */
.topic.books .count {
  font-size: 13px;
  color: #666;
}

/* line 555, ../sass/custom.scss */
.nav-pills .mobile-view {
  display: none;
}

/* line 559, ../sass/custom.scss */
.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1600px;
  z-index: 9999;
}

/* line 570, ../sass/custom.scss */
.mobile-menu .left-column {
  width: 78px;
  height: 1600px;
  float: left;
  background: #fff;
}

/* line 577, ../sass/custom.scss */
.mob-collapse {
  background: white url(../images/mob-collapse.png) no-repeat left 11px;
  width: 78px;
  height: 149px;
  cursor: pointer;
}

/* line 584, ../sass/custom.scss */
.mobile-menu ul {
  background: url(../images/back-mob-nav.png) 78px top;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  padding-left: 100px;
  padding-top: 10px;
}

/* line 593, ../sass/custom.scss */
.mobile-menu ul li a,
.mobile-menu ul li span {
  text-align: left;
  background: transparent url(../images/back-mob-nav-li.png) no-repeat left bottom;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-left: 0;
}

/* line 604, ../sass/custom.scss */
.mobile-menu ul li span {
  display: block;
  font-style: italic;
  color: #33a1bd;
}

/* line 614, ../sass/custom.scss */
.mobile-menu ul li a:hover {
  background-color: transparent !important;
  color: #33a1bd !important;
}

@media (max-width: 800px) {
  /* line 621, ../sass/custom.scss */
  header {
    background-image: none;
    border-bottom: 45px solid #33a1bd;
    height: 140px;
  }

  /* line 627, ../sass/custom.scss */
  .row {
    margin: 0;
  }

  /* line 632, ../sass/custom.scss */
  .top-menu ul li {
    display: none;
  }

  /* line 636, ../sass/custom.scss */
  .top-menu ul li.search {
    display: block;
  }

  /* line 640, ../sass/custom.scss */
  .top-menu ul {
    float: left;
    margin-top: 15px;
  }

  /* line 645, ../sass/custom.scss */
  .top-menu button[type="submit"] {
    position: absolute;
    left: 0;
    background-color: #33a1bd;
  }

  /* line 651, ../sass/custom.scss */
  .top-menu input[type="text"] {
    background: none;
    border: none;
    color: #fff !important;
    font-size: 20px;
    padding-left: 0;
  }

  /* line 659, ../sass/custom.scss */
  .home-banner, .home-banner .container {
    height: 200px;
  }

  /* line 663, ../sass/custom.scss */
  .home-banner p {
    top: 30%;
  }

  /* line 667, ../sass/custom.scss */
  .sub-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: none;
    border: none;
  }

  /* line 676, ../sass/custom.scss */
  .navbar-toggle {
    background-color: none;
    border: none;
    background-image: url(../images/button-toggle.gif);
    width: 44px;
    height: 44px;
  }

  /* line 686, ../sass/custom.scss */
  .col-md-3 {
    width: 45%;
    padding: 0 5px;
    float: left;
    margin-bottom: 10px !important;
  }

  /* line 693, ../sass/custom.scss */
  .main-book .col-md-3.social {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 25px !important;
  }

  /* line 699, ../sass/custom.scss */
  .purchase-buttons .col-md-3 {
    width: 50%;
  }

  /* line 704, ../sass/custom.scss */
  .purchase-buttons a {
    font-size: 18px !important;
  }

  /* line 708, ../sass/custom.scss */
  .main-book a.btn {
    height: 40px;
  }

  /* line 712, ../sass/custom.scss */
  .row.about-book .mobile {
    display: none;
  }

  /* line 716, ../sass/custom.scss */
  .main-book .col-md-12.h-div {
    clear: both;
    width: 100%;
  }

  /* line 721, ../sass/custom.scss */
  .container.main-book {
    background: #dce6e6;
    margin-top: 0;
  }

  /* line 728, ../sass/custom.scss */
  .row.also-bouht.popular,
  .row.also-bouht.topic,
  .row.also-bouht {
    padding-left: 10%;
  }

  /* line 732, ../sass/custom.scss */
  .explore-topic {
    padding: 15px 25px;
    height: 180px;
    margin-bottom: 10px;
  }

  /* line 738, ../sass/custom.scss */
  .explore-topic span {
    margin-bottom: 10px;
  }

  /* line 742, ../sass/custom.scss */
  .h-div span {
    padding: 5px 15px;
  }

  /* line 746, ../sass/custom.scss */
  a.cross.btn {
    margin-left: 30px;
  }

  /* line 750, ../sass/custom.scss */
  #footer {
    display: none;
  }

  /* line 754, ../sass/custom.scss */
  .row.topic-banner {
    height: 197px;
    margin-top: 0;
  }

  /* line 759, ../sass/custom.scss */
  .row.topic-banner h1 {
    font-size: 24px;
    margin-top: 40px;
  }

  /* line 764, ../sass/custom.scss */
  .row.topic-banner p {
    font-size: 16px;
  }

  /* line 768, ../sass/custom.scss */
  .nav-pills .mobile-view {
    display: block;
  }

  /* line 772, ../sass/custom.scss */
  .mobile-view.footer {
    font-size: 12px;
    color: #fff;
    text-transform: none;
    width: 400px;
    margin-top: 10px;
    text-align: left;
  }

  /* line 782, ../sass/custom.scss */
  .mobile-view.footer .copyright a.fb,
  .mobile-view.footer .copyright a.twt {
    width: 48px;
    height: 48px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    background: url(../images/icon_fb.png) no-repeat;
  }

  /* line 793, ../sass/custom.scss */
  .mobile-view.footer .copyright a.twt {
    background: url(../images/icon_twitter.png) no-repeat;
  }

  /* line 797, ../sass/custom.scss */
  .mobile-view.footer .copyright span {
    display: block;
    clear: both;
    margin-left: 15px;
  }

  /* line 803, ../sass/custom.scss */
  .mobile-wrap {
    width: 78px;
    height: 1200px;
    background: #ccc;
    position: absolute;
  }
}
@media (max-width: 1152px) {
  /* line 814, ../sass/custom.scss */
  .nav.nav-pills a,
  .btn.buy {
    font-size: 14px;
    font-weight: normal;
  }

  /* line 819, ../sass/custom.scss */
  a.cross {
    margin-left: 0;
  }

  /* line 823, ../sass/custom.scss */
  a.herder {
    margin-left: 30px;
  }
}
