/* line 7, ../sass/custom.scss */
body, container, container-fluid {
  background: white;
  font-family: "Droid Serif", serif;
  color: #666666;
}

/* line 13, ../sass/custom.scss */
header {
  height: 95px;
  background: white url(../images/header_line.png) no-repeat center bottom;
}

/* line 19, ../sass/custom.scss */
h1.logo {
  background: url(../images/logo.png) no-repeat;
}

/* line 23, ../sass/custom.scss */
h1.logo a {
  display: block;
  position: relative;
  text-indent: -5000px;
  height: 50px;
}

/* line 30, ../sass/custom.scss */
.sub-nav {
  height: 84px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
}

/* line 37, ../sass/custom.scss */
.sub-nav a.btn {
  background: #bbb;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 20px;
  color: #fff;
}

/* line 45, ../sass/custom.scss */
.sub-nav a.btn:hover {
  background-color: #888 !important;
  color: #fff !important;
}

/* line 51, ../sass/custom.scss */
.navbar-default {
  background: none;
  border: none;
}

/* line 56, ../sass/custom.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/* line 61, ../sass/custom.scss */
.nav-pills.nav-justified > .active > a {
  background-color: #33a1bd;
  color: #fff;
}

/* line 67, ../sass/custom.scss */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #888888;
  color: white;
}

/* line 72, ../sass/custom.scss */
.main-book {
  padding: 30px;
  background: url(../images/main_book_bg.png) no-repeat left top;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* line 79, ../sass/custom.scss */
.main-book h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 0;
  font-weight: bold;
}

/* line 86, ../sass/custom.scss */
.main-book h3 {
  font-size: 16px;
  color: #444;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
}

/* line 95, ../sass/custom.scss */
.main-book h4 {
  font-size: 14px;
}

/* line 99, ../sass/custom.scss */
span.dots {
  font-size: 32px;
}

/* line 103, ../sass/custom.scss */
.h-div {
  text-align: center;
  background: url(../images/h-div.gif) no-repeat center 50%;
}

/* line 108, ../sass/custom.scss */
.main-book .h-div {
  margin-bottom: 20px;
  margin-top: 0;
}

/* line 113, ../sass/custom.scss */
.main-book .h-div span {
  background: #dee7e8;
  font-size: 18px;
  font-weight: bold;
}

/* line 119, ../sass/custom.scss */
.h-div span {
  width: auto;
  padding: 5px;
  background: #fff;
}

/* line 126, ../sass/custom.scss */
.main-book a.btn {
  background: #fff;
  display: block;
  text-align: left;
  color: #33a1bd;
  font-weight: bold;
  height: 35px;
}

/* line 135, ../sass/custom.scss */
.main-book a.btn:hover {
  background: #33a1bd;
  color: #fff;
}

/* line 140, ../sass/custom.scss */
.main-book a.btn span.m-name {
  float: left;
}

/* line 144, ../sass/custom.scss */
.main-book a.btn span {
  float: right;
}

/* line 148, ../sass/custom.scss */
.h-div span {
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}

/* line 154, ../sass/custom.scss */
.about-book p {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  padding: 30px;
}

/* line 161, ../sass/custom.scss */
.list-unstyled.details {
  font-weight: bold;
  font-size: 18px;
}

/* line 166, ../sass/custom.scss */
.list-unstyled.details span {
  font-weight: normal;
}

/* line 170, ../sass/custom.scss */
span.author {
  display: block;
  font-weight: bold;
  font-size: 16px;
}

/* line 176, ../sass/custom.scss */
p.review {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 181, ../sass/custom.scss */
.h-div {
  margin-bottom: 30px;
  margin-top: 20px;
}

/* line 186, ../sass/custom.scss */
.also-bouht {
  margin-bottom: 70px;
}

/* line 190, ../sass/custom.scss */
.also-bouht a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f4f4f4;
  text-align: center;
  border: 1px solid #e5e5e5;
}

/* line 199, ../sass/custom.scss */
.also-bouht a:hover {
  text-decoration: none;
}

/* line 203, ../sass/custom.scss */
.also-bouht a span {
  display: block;
}

/* line 207, ../sass/custom.scss */
.also-bouht a span.book-name {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

/* line 213, ../sass/custom.scss */
.also-bouht a span.book-author {
  color: #666666;
  margin-bottom: 15px;
  font-size: 13px;
}

/* line 219, ../sass/custom.scss */
.also-bouht a span.book-price {
  color: #33a1bd;
  font-size: 24px;
  font-weight: bold;
}

/* line 225, ../sass/custom.scss */
.btn.buy {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1;
}

/* line 231, ../sass/custom.scss */
.nav.nav-pills a {
  font-size: 18px;
}

/* line 235, ../sass/custom.scss */
#footer {
  padding: 20px 0;
  background: #eee;
  border-top: 1px solid #ddd;
  font-family: Lato, sans-serif;
}

/* line 242, ../sass/custom.scss */
#footer h3 {
  color: #33a1bd;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/* line 250, ../sass/custom.scss */
#footer ul a {
  color: #444;
  font-size: 14px;
  line-height: 22px;
}

/* line 256, ../sass/custom.scss */
#footer .copyright {
  font-size: 12px;
  color: #888;
  text-align: right;
}

/* line 262, ../sass/custom.scss */
#footer .copyright a {
  width: 48px;
  height: 48px;
  display: block;
  float: right;
  margin-left: 10px;
  margin-top: 15px;
  background: url(../images/icon_fb.png) no-repeat;
}

/* line 272, ../sass/custom.scss */
#footer .copyright a.twt {
  background: url(../images/icon_twitter.png) no-repeat;
}

/* line 276, ../sass/custom.scss */
.top-menu {
  padding-right: 0;
}

/* line 280, ../sass/custom.scss */
.top-menu ul {
  float: right;
  margin-top: 25px;
}

/* line 285, ../sass/custom.scss */
.top-menu ul li {
  display: block;
  float: left;
  font-family: "Lato",sans-serif;
  margin-left: 35px;
}

/* line 292, ../sass/custom.scss */
.top-menu ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  line-height: 40px;
}

/* line 300, ../sass/custom.scss */
.top-menu ul li a:hover {
  color: #33a1bd;
  text-decoration: none;
}

/* line 305, ../sass/custom.scss */
.top-menu button[type="submit"] {
  display: block;
  float: left;
  position: relative;
  left: -4px;
  width: 50px;
  height: 44px;
  background-image: url(../images/button_search.png);
  border: none;
  border-radius: 0 4px 4px 0;
}

/* line 317, ../sass/custom.scss */
.top-menu input[type="text"] {
  width: 230px;
  height: 44px;
  display: block;
  float: left;
  border-width: 2px;
}

/* line 325, ../sass/custom.scss */
.home-banner {
  background: url(../images/banner_back.jpg) no-repeat center top;
  height: 402px;
}

/* line 330, ../sass/custom.scss */
.home-banner .container {
  text-align: center;
  vertical-align: middle;
  height: 402px;
  font-size: 22px;
  font-style: italic;
  color: #444;
}

/* line 339, ../sass/custom.scss */
.home-banner p {
  position: relative;
  top: 40%;
}

/* line 344, ../sass/custom.scss */
.home-banner p span {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #666;
}

/* line 351, ../sass/custom.scss */
.also-bouht.popular {
  margin-bottom: 10px;
}

/* line 355, ../sass/custom.scss */
.also-bouht.popular div {
  margin-bottom: 30px;
}

/* line 359, ../sass/custom.scss */
.explore-topic {
  position: relative;
  height: 247px;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 65px;
}

/* line 367, ../sass/custom.scss */
.explore-topic.journey {
  background: url(../images/journey_back.jpg) no-repeat center top;
}

/* line 371, ../sass/custom.scss */
.explore-topic.human {
  background: url(../images/human_back.jpg) no-repeat center top;
}

/* line 375, ../sass/custom.scss */
.explore-topic.wisdom {
  background: url(../images/wisdom_back.jpg) no-repeat center top;
}

/* line 379, ../sass/custom.scss */
.explore-topic.circle {
  background: url(../images/circle_back.jpg) no-repeat center top;
}

/* line 383, ../sass/custom.scss */
.explore-topic.community {
  background: url(../images/community_back.jpg) no-repeat center top;
}

/* line 387, ../sass/custom.scss */
.explore-topic span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

/* line 395, ../sass/custom.scss */
.explore-topic p {
  font-size: 16px;
  color: #ddd;
  font-style: italic;
  margin-bottom: 0;
}

/* line 402, ../sass/custom.scss */
.explore-topic a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -45px;
}

/* line 413, ../sass/custom.scss */
.explore-topic a:hover {
  color: #33a1bd;
  border-color: #33a1bd;
}

/* line 418, ../sass/custom.scss */
.h-div.brand {
  color: #33a1bd;
}

/* line 422, ../sass/custom.scss */
p.thought {
  text-align: center;
  padding: 0 10%;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
}

/* line 430, ../sass/custom.scss */
a.cross, a.herder {
  width: 210px;
  height: 70px;
  border: 3px solid #bbbbbb;
  display: block;
  float: left;
  margin-bottom: 40px;
  margin-left: 45px;
  background: url(../images/button_cross.png) no-repeat 15px center;
}

/* line 441, ../sass/custom.scss */
a.cross:hover, a.herder:hover {
  border-color: #33a1bd;
}

/* line 445, ../sass/custom.scss */
a.herder {
  background: url(../images/button_herder.png) no-repeat center center;
}

/* line 449, ../sass/custom.scss */
.row.about, .row.author {
  margin-bottom: 60px;
}

/* line 454, ../sass/custom.scss */
.row.about p,
.row.author p {
  font-size: 18px;
  text-align: center;
  padding: 0 25px;
  margin-bottom: 40px;
}

/* line 461, ../sass/custom.scss */
.author-image {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

/* line 467, ../sass/custom.scss */
.author-image img {
  border: 5px solid #33a1bd;
}

/* line 471, ../sass/custom.scss */
.about-book.topic .col-md-3 {
  margin-bottom: 30px;
}

/* line 475, ../sass/custom.scss */
.row.topic-banner {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 400px;
  background: url(../images/topic-banner.jpg) no-repeat center top;
  text-align: center;
}

/* line 483, ../sass/custom.scss */
.row.topic-banner h1 {
  margin-top: 120px;
  margin-bottom: 15px;
  border-bottom: 1px solid #858484;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 492, ../sass/custom.scss */
.row.topic-banner p {
  font-size: 18px;
  color: #ddd;
}

/* line 497, ../sass/custom.scss */
.also-bouht.topic {
  margin-bottom: 10px;
}

/* line 501, ../sass/custom.scss */
a.btn.more {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: #fff;
  background: #33a1bd;
  width: 148px;
  height: 44px;
  line-height: 30px;
  margin-bottom: 40px;
}

/* line 513, ../sass/custom.scss */
.btn.more.loading {
  background: #33a1bd url(../images/loading.gif) no-repeat center top;
}

/* line 517, ../sass/custom.scss */
.btn.more.loading span {
  display: none;
}

/* line 521, ../sass/custom.scss */
.topic.books a {
  background: #fff;
}

/* line 525, ../sass/custom.scss */
.topic.books img {
  border: 5px solid #33a1bd;
}

/* line 529, ../sass/custom.scss */
.topic.books .author-name {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  padding-top: 15px;
}

/* line 536, ../sass/custom.scss */
.topic.books .count {
  font-size: 13px;
  color: #666;
}

@media (max-width: 800px) {
  /* line 543, ../sass/custom.scss */
  header {
    background-image: none;
    border-bottom: 45px solid #33a1bd;
    height: 140px;
  }

  /* line 549, ../sass/custom.scss */
  .top-menu ul li {
    display: none;
  }

  /* line 553, ../sass/custom.scss */
  .top-menu ul li.search {
    display: block;
  }

  /* line 557, ../sass/custom.scss */
  .top-menu ul {
    float: left;
    margin-top: 15px;
  }

  /* line 562, ../sass/custom.scss */
  .top-menu button[type="submit"] {
    position: absolute;
    left: 0;
    background-color: #33a1bd;
  }

  /* line 568, ../sass/custom.scss */
  .top-menu input[type="text"] {
    background: none;
    border: none;
    color: #fff !important;
    font-size: 20px;
    padding-left: 0;
  }

  /* line 576, ../sass/custom.scss */
  .home-banner, .home-banner .container {
    height: 200px;
  }

  /* line 580, ../sass/custom.scss */
  .home-banner p {
    top: 30%;
  }

  /* line 584, ../sass/custom.scss */
  .sub-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: none;
    border: none;
  }

  /* line 593, ../sass/custom.scss */
  .navbar-toggle {
    background-color: none;
    border: none;
    background-image: url(../images/button-toggle.gif);
    width: 44px;
    height: 44px;
  }
}
@media (max-width: 1152px) {
  /* line 605, ../sass/custom.scss */
  .nav.nav-pills a,
  .btn.buy {
    font-size: 14px;
    font-weight: normal;
  }

  /* line 610, ../sass/custom.scss */
  a.cross {
    margin-left: 0;
  }

  /* line 614, ../sass/custom.scss */
  a.herder {
    margin-left: 30px;
  }
}
