/* line 9, ../sass/custom.scss */
body, container, container-fluid {
  background: white;
  font-family: "Droid Serif", serif;
  color: #666666;
}

/* line 15, ../sass/custom.scss */
header {
  height: 95px;
  background: white url(../images/header_line.png) no-repeat center bottom;
}

/* line 21, ../sass/custom.scss */
h1.logo {
  background: url(../images/logo.png) no-repeat;
}

/* line 25, ../sass/custom.scss */
h1.logo a {
  display: block;
  position: relative;
  text-indent: -5000px;
  height: 50px;
}

/* line 32, ../sass/custom.scss */
.sub-nav {
  height: 84px;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding-top: 20px;
}

/* line 39, ../sass/custom.scss */
.sub-nav a.btn {
  background: #bbb;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-right: 20px;
  color: #fff;
}

/* line 47, ../sass/custom.scss */
.sub-nav a.btn:hover {
  background-color: #888 !important;
  color: #fff !important;
}

/* line 53, ../sass/custom.scss */
.navbar-default {
  background: none;
  border: none;
}

/* line 58, ../sass/custom.scss */
.navbar-default .navbar-nav > li > a {
  color: #fff;
}

/* line 63, ../sass/custom.scss */
.nav-pills.nav-justified > .active > a {
  background-color: #33a1bd;
  color: #fff;
}

/* line 69, ../sass/custom.scss */
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: #888888;
  color: white;
}

/* line 74, ../sass/custom.scss */
.main-book {
  padding: 30px;
  background: url(../images/main_book_bg.png) no-repeat left top;
  margin-top: 40px;
  margin-bottom: 20px;
}

/* line 81, ../sass/custom.scss */
.main-book h2 {
  font-size: 24px;
  color: #000;
  margin-bottom: 0;
  font-weight: bold;
}

/* line 88, ../sass/custom.scss */
.main-book h3 {
  font-size: 16px;
  color: #444;
  margin-bottom: 0;
  margin-top: 5px;
  font-weight: bold;
  font-style: italic;
}

/* line 97, ../sass/custom.scss */
.main-book h4 {
  font-size: 14px;
}

/* line 101, ../sass/custom.scss */
span.dots {
  font-size: 32px;
}

/* line 105, ../sass/custom.scss */
.h-div {
  text-align: center;
  background: url(../images/h-div.gif) no-repeat center 50%;
}

/* line 110, ../sass/custom.scss */
.main-book .h-div {
  margin-bottom: 20px;
  margin-top: 0;
}

/* line 115, ../sass/custom.scss */
.main-book .h-div span {
  background: #dee7e8;
  font-size: 18px;
  font-weight: bold;
}

/* line 121, ../sass/custom.scss */
.h-div span {
  width: auto;
  padding: 5px;
  background: #fff;
}

/* line 128, ../sass/custom.scss */
.main-book a.btn {
  background: #fff;
  display: block;
  text-align: left;
  color: #33a1bd;
  font-weight: bold;
  height: 45px;
  padding: 15px;
}

/* line 138, ../sass/custom.scss */
.main-book a.btn:hover {
  background: #33a1bd;
  color: #fff;
}

/* line 143, ../sass/custom.scss */
.col-md-3.book-image {
  width: 220px;
}

/* line 147, ../sass/custom.scss */
.main-book .col-md-6 p {
  font-size: 16px;
  line-height: 24px;
}

/* line 152, ../sass/custom.scss */
.main-book .col-md-12.h-div {
  background: url(../images/header_line_book.png) no-repeat center center;
}

/* line 156, ../sass/custom.scss */
.main-book .h-div span {
  background: transparent;
}

/* line 160, ../sass/custom.scss */
.main-book a.btn span.m-name {
  float: left;
}

/* line 164, ../sass/custom.scss */
.main-book a.btn span {
  float: right;
}

/* line 168, ../sass/custom.scss */
.h-div span {
  font-size: 24px;
  font-weight: bold;
  padding: 15px;
}

/* line 174, ../sass/custom.scss */
.about-book p {
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  padding: 30px;
  margin-bottom: 20px;
}

/* line 182, ../sass/custom.scss */
.list-unstyled.details {
  font-weight: bold;
  font-size: 18px;
}

/* line 187, ../sass/custom.scss */
.list-unstyled.details span {
  font-weight: normal;
}

/* line 191, ../sass/custom.scss */
span.author {
  display: block;
  font-weight: bold;
  font-size: 16px !important;
  color: #666 !important;
  padding: 0 !important;
  line-height: 24px !important;
}

/* line 200, ../sass/custom.scss */
p.review {
  padding-top: 0;
  padding-bottom: 0;
}

/* line 205, ../sass/custom.scss */
.h-div {
  margin-bottom: 30px;
  margin-top: 20px;
}

/* line 210, ../sass/custom.scss */
.also-bouht {
  margin-bottom: 70px;
}

/* line 214, ../sass/custom.scss */
.also-bouht a {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #f4f4f4;
  text-align: center;
  border: 1px solid #e5e5e5;
}

/* line 223, ../sass/custom.scss */
.also-bouht a:hover {
  text-decoration: none;
}

/* line 227, ../sass/custom.scss */
.also-bouht a span {
  display: block;
}

/* line 231, ../sass/custom.scss */
.also-bouht a span.book-name {
  color: #000;
  font-size: 16px;
  font-weight: bold;
}

/* line 237, ../sass/custom.scss */
.also-bouht a span.book-author {
  color: #666666;
  margin-bottom: 15px;
  font-size: 13px;
}

/* line 243, ../sass/custom.scss */
.also-bouht a span.book-price {
  color: #33a1bd;
  font-size: 24px;
  font-weight: bold;
}

/* line 249, ../sass/custom.scss */
.btn.buy {
  padding: 10px 15px;
  font-size: 18px;
  line-height: 1;
}

/* line 255, ../sass/custom.scss */
.nav.nav-pills a {
  font-size: 18px;
}

/* line 259, ../sass/custom.scss */
#footer {
  padding: 20px 0;
  background: #eee;
  border-top: 1px solid #ddd;
  font-family: Lato, sans-serif;
}

/* line 266, ../sass/custom.scss */
#footer h3 {
  color: #33a1bd;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
}

/* line 274, ../sass/custom.scss */
#footer ul a {
  color: #444;
  font-size: 14px;
  line-height: 22px;
}

/* line 280, ../sass/custom.scss */
#footer .copyright {
  font-size: 12px;
  color: #888;
  text-align: right;
}

/* line 286, ../sass/custom.scss */
#footer .copyright a {
  width: 48px;
  height: 48px;
  display: block;
  float: right;
  margin-left: 10px;
  margin-top: 15px;
  background: url(../images/icon_fb.png) no-repeat;
}

/* line 296, ../sass/custom.scss */
#footer .copyright a.twt {
  background: url(../images/icon_twitter.png) no-repeat;
}

/* line 300, ../sass/custom.scss */
.top-menu {
  padding-right: 0;
}

/* line 304, ../sass/custom.scss */
.top-menu ul {
  float: right;
  margin-top: 25px;
}

/* line 309, ../sass/custom.scss */
.top-menu ul li {
  display: block;
  float: left;
  font-family: "Lato",sans-serif;
  margin-left: 35px;
}

/* line 316, ../sass/custom.scss */
.top-menu ul li a {
  font-size: 16px;
  font-weight: bold;
  color: #444;
  text-transform: uppercase;
  line-height: 40px;
}

/* line 324, ../sass/custom.scss */
.top-menu ul li a:hover {
  color: #33a1bd;
  text-decoration: none;
}

/* line 329, ../sass/custom.scss */
.top-menu button[type="submit"] {
  display: block;
  float: left;
  position: relative;
  left: -4px;
  width: 50px;
  height: 44px;
  background-image: url(../images/button_search.png);
  border: none;
  border-radius: 0 4px 4px 0;
}

/* line 341, ../sass/custom.scss */
.top-menu input[type="text"] {
  width: 230px;
  height: 44px;
  display: block;
  float: left;
  border-width: 2px;
}

/* line 349, ../sass/custom.scss */
.home-banner {
  background: url(../images/banner_back.jpg) no-repeat center top;
  height: 402px;
}

/* line 354, ../sass/custom.scss */
.home-banner .container {
  text-align: center;
  vertical-align: middle;
  height: 402px;
  font-size: 22px;
  font-style: italic;
  color: #444;
}

/* line 363, ../sass/custom.scss */
.home-banner p {
  position: relative;
  top: 40%;
}

/* line 368, ../sass/custom.scss */
.home-banner p span {
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  color: #666;
}

/* line 375, ../sass/custom.scss */
.also-bouht.popular {
  margin-bottom: 10px;
}

/* line 379, ../sass/custom.scss */
.also-bouht.popular div {
  margin-bottom: 30px;
}

/* line 383, ../sass/custom.scss */
.also-bouht a {
  position: relative;
}

/* line 387, ../sass/custom.scss */
.book-new {
  display: block;
  position: absolute;
  width: 71px;
  height: 72px;
  top: -4px;
  right: -4px;
  background: url(../images/new.png) no-repeat;
}

/* line 397, ../sass/custom.scss */
.explore-topic {
  position: relative;
  height: 247px;
  margin-bottom: 30px;
  text-align: center;
  padding: 30px 65px;
}

/* line 405, ../sass/custom.scss */
.no-transition {
  -webkit-transition: height 0;
  -moz-transition: height 0;
  -ms-transition: height 0;
  -o-transition: height 0;
  transition: height 0;
}

/* line 413, ../sass/custom.scss */
.explore-topic.journey {
  background: url(../images/journey_back.jpg) no-repeat center top;
}

/* line 417, ../sass/custom.scss */
.explore-topic.human {
  background: url(../images/human_back.jpg) no-repeat center top;
}

/* line 421, ../sass/custom.scss */
.explore-topic.wisdom {
  background: url(../images/wisdom_back.jpg) no-repeat center top;
}

/* line 425, ../sass/custom.scss */
.explore-topic.circle {
  background: url(../images/circle_back.jpg) no-repeat center top;
}

/* line 429, ../sass/custom.scss */
.explore-topic.community {
  background: url(../images/community_back.jpg) no-repeat center top;
}

/* line 433, ../sass/custom.scss */
.explore-topic span {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  display: block;
}

/* line 441, ../sass/custom.scss */
.explore-topic p {
  font-size: 16px;
  color: #ddd;
  font-style: italic;
  margin-bottom: 0;
}

/* line 448, ../sass/custom.scss */
.explore-topic a {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  border: 2px solid #fff;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -45px;
}

/* line 459, ../sass/custom.scss */
.explore-topic a:hover {
  color: #33a1bd;
  border-color: #33a1bd;
}

/* line 464, ../sass/custom.scss */
.h-div.brand {
  color: #33a1bd;
}

/* line 468, ../sass/custom.scss */
p.thought {
  text-align: center;
  padding: 0 10%;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 30px;
}

/* line 476, ../sass/custom.scss */
a.cross, a.herder {
  width: 210px;
  height: 70px;
  border: 3px solid #bbbbbb;
  display: block;
  float: left;
  margin-bottom: 40px;
  margin-left: 45px;
  background: url(../images/button_cross.png) no-repeat 15px center;
}

/* line 487, ../sass/custom.scss */
a.cross:hover, a.herder:hover {
  border-color: #33a1bd;
}

/* line 491, ../sass/custom.scss */
a.herder {
  background: url(../images/button_herder.png) no-repeat center center;
}

/* line 495, ../sass/custom.scss */
.row.about, .row.author, .row.home {
  margin-bottom: 60px;
  margin-top: 30px;
}

/* line 500, ../sass/custom.scss */
.h-div.brand {
  margin-top: 60px;
}

/* line 505, ../sass/custom.scss */
.row.about p,
.row.author p {
  font-size: 18px;
  text-align: center;
  padding: 0 25px;
  margin-bottom: 40px;
}

/* line 512, ../sass/custom.scss */
.author-image {
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

/* line 518, ../sass/custom.scss */
.author-image img {
  border: 5px solid #33a1bd;
}

/* line 522, ../sass/custom.scss */
.about-book.topic .col-md-3 {
  margin-bottom: 30px;
}

/* line 526, ../sass/custom.scss */
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* line 530, ../sass/custom.scss */
.row.topic-banner {
  margin-top: 40px;
  margin-bottom: 20px;
  height: 400px;
  background: url(../images/topic-banner.jpg) no-repeat center top;
  text-align: center;
}

/* line 538, ../sass/custom.scss */
.row.topic-banner h1 {
  margin-top: 120px;
  margin-bottom: 15px;
  border-bottom: 1px solid #858484;
  color: #fff;
  font-weight: bold;
  padding-bottom: 10px;
}

/* line 547, ../sass/custom.scss */
.row.topic-banner p {
  font-size: 18px;
  color: #ddd;
}

/* line 552, ../sass/custom.scss */
.also-bouht.topic {
  margin-bottom: 10px;
}

/* line 556, ../sass/custom.scss */
a.btn.more {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  color: #fff;
  background: #33a1bd;
  width: 148px;
  height: 44px;
  line-height: 30px;
  margin-bottom: 0;
}

/* line 568, ../sass/custom.scss */
.btn.more.loading {
  background: #33a1bd url(../images/loading.gif) no-repeat center top;
}

/* line 572, ../sass/custom.scss */
.btn.more.loading span {
  display: none;
}

/* line 576, ../sass/custom.scss */
.topic.books a {
  background: #fff;
}

/* line 580, ../sass/custom.scss */
.topic.books img {
  border: 5px solid #33a1bd;
}

/* line 584, ../sass/custom.scss */
.topic.books .author-name {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  padding-top: 15px;
}

/* line 591, ../sass/custom.scss */
.topic.books .count {
  font-size: 13px;
  color: #666;
}

/* line 596, ../sass/custom.scss */
.main-book h2 {
  margin-top: 10px;
}

/* line 600, ../sass/custom.scss */
.review span {
  font-size: 48px;
  color: #33a1bd;
  position: relative;
  top: 10px;
  line-height: 12px;
  padding: 0 5px;
}

/* line 609, ../sass/custom.scss */
.nav-pills .mobile-view {
  display: none;
}

/* line 613, ../sass/custom.scss */
.mobile-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1600px;
  z-index: 9999;
}

/* line 624, ../sass/custom.scss */
.mobile-menu .left-column {
  width: 78px;
  height: 1600px;
  float: left;
  background: #fff;
}

/* line 631, ../sass/custom.scss */
.mob-collapse {
  background: white url(../images/mob-collapse.png) no-repeat left 11px;
  width: 78px;
  height: 149px;
  cursor: pointer;
}

/* line 638, ../sass/custom.scss */
.mobile-menu ul {
  background: url(../images/back-mob-nav.png) 78px top;
  font-family: Lato, sans-serif;
  text-transform: uppercase;
  padding-left: 100px;
  padding-top: 10px;
}

/* line 646, ../sass/custom.scss */
.cross-buttons {
  width: 500px;
  margin: 0 auto;
}

/* line 652, ../sass/custom.scss */
.mobile-menu ul li a,
.mobile-menu ul li span {
  text-align: left;
  background: transparent url(../images/back-mob-nav-li.png) no-repeat left bottom;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding-left: 0;
}

/* line 663, ../sass/custom.scss */
.mobile-menu ul li span {
  display: block;
  font-style: italic;
  color: #33a1bd;
}

/* line 673, ../sass/custom.scss */
.mobile-menu ul li a:hover {
  background-color: transparent !important;
  color: #33a1bd !important;
}

@media (max-width: 1000px) {
  /* line 680, ../sass/custom.scss */
  header {
    background-image: none;
    border-bottom: 45px solid #33a1bd;
    height: 140px;
  }

  /* line 686, ../sass/custom.scss */
  .row {
    margin: 0;
  }

  /* line 690, ../sass/custom.scss */
  .nav.nav-pills a, .btn.buy {
    font-size: 14px !important;
  }

  /* line 694, ../sass/custom.scss */
  .top-menu ul li {
    display: none;
  }

  /* line 698, ../sass/custom.scss */
  .top-menu ul li.search {
    display: block;
  }

  /* line 702, ../sass/custom.scss */
  .top-menu ul {
    float: left;
    margin-top: 15px;
  }

  /* line 707, ../sass/custom.scss */
  .top-menu button[type="submit"] {
    position: absolute;
    left: 0;
    background-color: #33a1bd;
  }

  /* line 713, ../sass/custom.scss */
  .top-menu input[type="text"] {
    background: none;
    border: none;
    color: #fff !important;
    font-size: 20px;
    padding-left: 0;
  }

  /* line 721, ../sass/custom.scss */
  .home-banner, .home-banner .container {
    height: 200px;
  }

  /* line 725, ../sass/custom.scss */
  .home-banner p {
    top: 30%;
  }

  /* line 729, ../sass/custom.scss */
  .main-book .h-div {
    text-align: left;
    text-indent: -25px;
    background: url(../images/header_line_book_sm.png) no-repeat 190px center !important;
  }

  /* line 735, ../sass/custom.scss */
  .sub-nav {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    background: none;
    border: none;
  }

  /* line 744, ../sass/custom.scss */
  .navbar-toggle {
    background-color: none;
    border: none;
    background-image: url(../images/button-toggle.gif);
    width: 44px;
    height: 44px;
  }

  /* line 754, ../sass/custom.scss */
  .col-md-3 {
    width: 50%;
    padding: 0 5px;
    float: left;
    margin-bottom: 10px !important;
  }

  /* line 761, ../sass/custom.scss */
  .main-book .col-md-3.social {
    width: 100%;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 25px !important;
  }

  /* line 767, ../sass/custom.scss */
  .purchase-buttons .col-md-3 {
    width: 50%;
  }

  /* line 772, ../sass/custom.scss */
  .purchase-buttons a {
    font-size: 18px !important;
  }

  /* line 776, ../sass/custom.scss */
  .main-book a.btn {
    height: 40px;
  }

  /* line 780, ../sass/custom.scss */
  .row.about-book .mobile {
    display: none;
  }

  /* line 784, ../sass/custom.scss */
  .main-book .col-md-12.h-div {
    clear: both;
    width: 100%;
  }

  /* line 789, ../sass/custom.scss */
  .container.main-book {
    background: #dce6e6;
    margin-top: 0;
  }

  /* line 796, ../sass/custom.scss */
  .row.also-bouht.popular,
  .row.also-bouht.topic,
  .row.also-bouht {
    padding-left: 0;
  }

  /* line 800, ../sass/custom.scss */
  .explore-topic {
    padding: 15px 25px;
    height: 180px;
    margin-bottom: 10px;
  }

  /* line 806, ../sass/custom.scss */
  .explore-topic span {
    margin-bottom: 10px;
  }

  /* line 810, ../sass/custom.scss */
  .h-div span {
    padding: 5px 15px;
  }

  /* line 814, ../sass/custom.scss */
  a.cross.btn {
    margin-left: 25px;
  }

  /* line 818, ../sass/custom.scss */
  #footer {
    display: none;
  }

  /* line 822, ../sass/custom.scss */
  .row.topic-banner {
    height: 197px;
    margin-top: 0;
  }

  /* line 827, ../sass/custom.scss */
  .row.topic-banner h1 {
    font-size: 24px;
    margin-top: 40px;
  }

  /* line 832, ../sass/custom.scss */
  .row.topic-banner p {
    font-size: 16px;
  }

  /* line 836, ../sass/custom.scss */
  .nav-pills .mobile-view {
    display: block;
  }

  /* line 840, ../sass/custom.scss */
  .mobile-view.footer {
    font-size: 12px;
    color: #fff;
    text-transform: none;
    width: 400px;
    margin-top: 10px;
    text-align: left;
  }

  /* line 850, ../sass/custom.scss */
  .mobile-view.footer .copyright a.fb,
  .mobile-view.footer .copyright a.twt {
    width: 48px;
    height: 48px;
    display: block;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 25px;
    background: url(../images/icon_fb.png) no-repeat;
  }

  /* line 861, ../sass/custom.scss */
  .mobile-view.footer .copyright a.twt {
    background: url(../images/icon_twitter.png) no-repeat;
  }

  /* line 865, ../sass/custom.scss */
  .mobile-view.footer .copyright span {
    display: block;
    clear: both;
    margin-left: 15px;
  }

  /* line 871, ../sass/custom.scss */
  .mobile-wrap {
    width: 78px;
    height: 1200px;
    background: #ccc;
    position: absolute;
  }
}
@media (max-width: 1152px) {
  /* line 882, ../sass/custom.scss */
  .nav.nav-pills a,
  .btn.buy {
    font-size: 14px;
    font-weight: normal;
  }

  /* line 887, ../sass/custom.scss */
  a.cross {
    margin-left: 0;
  }

  /* line 891, ../sass/custom.scss */
  a.herder {
    margin-left: 30px;
  }
}
