$default-back: #fff;
$default-font: "Droid Serif", serif;
$default-font-color: #666;
$brand-color: #33a1bd;
$nav-hover: #888;

body, container, container-fluid {
    background: $default-back;
    font-family: $default-font;
    color: $default-font-color;
}

header {
    height:95px;
    background: $default-back url(../images/header_line.png) no-repeat center bottom;
    
}

h1.logo {
    background: url(../images/logo.png) no-repeat;
}

h1.logo a {
    display: block;
    position: relative;
    text-indent: -5000px;
    height: 50px;
}

.sub-nav {
    height: 84px;
    background:#eee;
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
}

.sub-nav a.btn {
    background: #bbb;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-right: 20px;
    color: #fff;
}

.sub-nav a.btn:hover {
    background-color: #888 !important;
    color:#fff !important;
}


.navbar-default {
    background:none;
    border:none;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
  //  font-size: 18px;
}

.nav-pills.nav-justified > .active > a {
    background-color: $brand-color;
    color:#fff;
}

.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: $nav-hover;
    color:#fff
}

.main-book {
    padding:30px;
    background: url(../images/main_book_bg.png) no-repeat left top;
    margin-top:40px;
    margin-bottom: 20px;
}

.main-book h2 {
    font-size:24px;
    color: #000;
    margin-bottom:0;
    font-weight: bold;
}

.main-book h3 {
    font-size:16px;
    color: #444;
    margin-bottom:0;
    margin-top:5px;
    font-weight: bold;
    font-style: italic;
}

.main-book h4 {
    font-size: 14px;
}

span.dots {
    font-size: 32px;
}

.h-div {
    text-align: center;
    background: url(../images/h-div.gif) no-repeat center 50%;
}

.main-book .h-div {
    margin-bottom: 20px;
    margin-top:0;
}

.main-book .h-div span {
    background: #dee7e8;
    font-size:18px;
    font-weight: bold;
}

.h-div span {
    width:auto;
    padding: 5px;
    background:#fff;
}


.main-book a.btn {
    background:#fff;
    display:block;
    text-align:left;
    color: $brand-color;
    font-weight:bold;
    height: 35px;
}

.main-book a.btn:hover {
    background:$brand-color;
    color: #fff;
}

.main-book a.btn span.m-name {
    float: left;
}

.main-book a.btn span {
    float: right;
}

.h-div span {
    font-size:24px;
    font-weight:bold;
    padding: 15px;
}

.about-book p {
    text-align:center;
    font-size: 18px;
    line-height: 30px;
    padding: 30px;
}

.list-unstyled.details {
    font-weight: bold;
    font-size:18px;
}

.list-unstyled.details span {
    font-weight: normal;
}

span.author {
    display:block;
    font-weight:bold;
    font-size:16px;
}

p.review {
    padding-top:0;
    padding-bottom:0;
}

.h-div {
    margin-bottom:30px;
    margin-top:20px;
}

.also-bouht {
    margin-bottom:70px;
}

.also-bouht a {
    display:block;
    padding-top:15px;
    padding-bottom:15px;
    background: #f4f4f4;
    text-align:center;
    border:1px solid #e5e5e5;
}

.also-bouht a:hover {
    text-decoration:none;
}

.also-bouht a span {
    display:block
}

.also-bouht a span.book-name {
    color:#000;
    font-size:16px;
    font-weight: bold;
}

.also-bouht a span.book-author {
    color: $default-font-color;
    margin-bottom:15px;
    font-size:13px;
}

.also-bouht a span.book-price {
    color: $brand-color;
    font-size:24px;
    font-weight: bold;
}

.btn.buy {
    padding: 10px 15px;
    font-size:18px;
    line-height: 1;
}

.nav.nav-pills a {
    font-size:18px;
}

#footer {
    padding: 20px 0;
    background: #eee;
    border-top: 1px solid #ddd;
    font-family: Lato, sans-serif;
}

#footer h3 {
    color:$brand-color;
    font-size:16px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top:0;
}

#footer ul a {
    color:#444;
    font-size: 14px;
    line-height: 22px;
}

#footer .copyright {
    font-size:12px;
    color: #888;
    text-align: right;
}

#footer .copyright a {
    width:48px;
    height:48px;
    display:block;
    float: right;
    margin-left: 10px;
    margin-top:15px;
    background: url(../images/icon_fb.png) no-repeat;
}

#footer .copyright a.twt {
    background: url(../images/icon_twitter.png) no-repeat;
}

.top-menu {
    padding-right: 0;
}

.top-menu ul {
    float: right;
    margin-top: 25px;
}

.top-menu ul li {
    display: block;
    float: left;
    font-family: "Lato",sans-serif;
    margin-left:35px;
}

.top-menu ul li a {
    font-size:16px;
    font-weight: bold;
    color: #444;
    text-transform: uppercase;
    line-height: 40px;
}

.top-menu ul li a:hover {
    color: $brand-color;
    text-decoration: none;
}

.top-menu button[type="submit"] {
    display:block;
    float: left;
    position: relative;
    left: -4px;
    width: 50px;
    height: 44px;
    background-image: url(../images/button_search.png);
    border: none;
    border-radius: 0 4px 4px 0;
}

.top-menu input[type="text"] {
    width: 230px;
    height: 44px;
    display: block;
    float: left;
    border-width: 2px;
}

.home-banner {
    background: url(../images/banner_back.jpg) no-repeat center top;
    height: 402px;
}

.home-banner .container {
    text-align: center;
    vertical-align: middle;
    height: 402px;
    font-size: 22px;
    font-style: italic;
    color:#444;
}

.home-banner p {
    position: relative;
    top: 40%;
}

.home-banner p span {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    color:#666;
}

.also-bouht.popular {
    margin-bottom: 10px;
}

.also-bouht.popular div {
    margin-bottom: 30px;
}

.explore-topic {
    position: relative;
    height: 247px;
    margin-bottom: 30px;
    text-align: center;
    padding: 30px 65px;
}

.explore-topic.journey {
    background: url(../images/journey_back.jpg) no-repeat center top;
}

.explore-topic.human {
    background: url(../images/human_back.jpg) no-repeat center top;
}

.explore-topic.wisdom {
    background: url(../images/wisdom_back.jpg) no-repeat center top;
}

.explore-topic.circle {
    background: url(../images/circle_back.jpg) no-repeat center top;
}

.explore-topic.community {
    background: url(../images/community_back.jpg) no-repeat center top;
}

.explore-topic span {
    color:#fff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    display: block;
}

.explore-topic p {
    font-size: 16px;
    color:#ddd;
    font-style: italic;
    margin-bottom: 0;
}

.explore-topic a {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    border: 2px solid #fff;
    position: absolute;
    bottom: 25px;
    left: 50%;
    margin-left: -45px;
}

.explore-topic a:hover {
    color: $brand-color;
    border-color: $brand-color;;
}

.h-div.brand {
    color: $brand-color;
}

p.thought {
    text-align: center;
    padding: 0 10%;
    font-size: 18px;
    margin-bottom: 30px;
    line-height: 30px;
}

a.cross, a.herder {
    width: 210px;
    height: 70px;
    border: 3px solid #bbbbbb;
    display: block;
    float: left;
    margin-bottom: 40px;
    margin-left: 45px;
    background: url(../images/button_cross.png) no-repeat 15px center;
}

a.cross:hover, a.herder:hover {
    border-color: $brand-color;
}

a.herder {
    background: url(../images/button_herder.png) no-repeat center center;
}

.row.about, .row.author {
    margin-bottom: 60px;
}

.row.about p,
.row.author p{
    font-size: 18px;
    text-align: center;
    padding: 0 25px;
    margin-bottom: 40px;
}

.author-image {
    margin-top: 40px;
    margin-bottom: 15px;
    text-align: center;
}

.author-image img {
    border: 5px solid $brand-color;
}

.about-book.topic .col-md-3 {
    margin-bottom: 30px;
}

.row.topic-banner {
    margin-top: 40px;
    margin-bottom: 20px;
    height: 400px;
    background: url(../images/topic-banner.jpg) no-repeat center top;
    text-align: center
}

.row.topic-banner h1 {
    margin-top:120px;
    margin-bottom: 15px;
    border-bottom: 1px solid #858484;
    color: #fff;
    font-weight: bold;
    padding-bottom: 10px;
}

.row.topic-banner p {
    font-size: 18px;
    color: #ddd;
}

.also-bouht.topic {
    margin-bottom: 10px;
}

a.btn.more {
    display: block;
    margin: 0 auto;
    font-size: 18px;
    color: #fff;
    background: $brand-color;
    width: 148px;
    height: 44px;
    line-height: 30px;
    margin-bottom: 40px;
}

.btn.more.loading {
    background: $brand-color url(../images/loading.gif) no-repeat center top;
}

.btn.more.loading span {
    display: none;
}

.topic.books a {
    background: #fff;
}

.topic.books img {
    border: 5px solid $brand-color;
}

.topic.books .author-name {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    padding-top: 15px;
}

.topic.books .count {
    font-size: 13px;
    color: #666;
}

.nav-pills .mobile-view {
    display: none;
}

@media (max-width: 800px) {
    
    header {
        background-image: none;
        border-bottom: 45px solid $brand-color;
        height: 140px;
    }
    
    .top-menu  ul li {
        display: none;
    }
    
    .top-menu  ul li.search {
        display: block;
    }
    
    .top-menu  ul {
        float: left;
        margin-top: 15px;
    }
    
    .top-menu button[type="submit"] {
        position: absolute;
        left:0;
        background-color: $brand-color;
    }
    
    .top-menu input[type="text"] {
        background: none;
        border: none;
        color: #fff !important;
        font-size: 20px;
        padding-left: 0
    }
    
    .home-banner, .home-banner .container {
        height: 200px;
    }
    
    .home-banner p {
        top: 30%;
    }
    
    .sub-nav {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background: none;
        border: none;
    }
    
    .navbar-toggle {
        background-color: none;
        border: none;
        background-image: url(../images/button-toggle.gif);
        width:44px;
        height: 44px;
    }
    
    body.full .container,
    body.full #footer
    {
        display: none;
    }
    
     body.full .container-fluid.sub-nav,
     body.full .navbar-default.container{
        display: block !important
     }
     
     .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none
     }
    
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
        background-color: #fff;
        }
    
    body.full .navbar-header {
        width: 78px;
        height: 115px;
        background: #FFF;
        position: fixed;
        left: 10px;
        top: 10px;
        border-bottom: 45px solid $brand-color;
        }
        
    body.full .home-banner {
        display: none;
    }
    
    body.full ul.nav-pills {
        position: fixed;
        left:70px;
        height: 600px;
        padding-top: 15px;
        background: $brand-color url(../images/back-mob-nav.png) left top;
        top:0;
        padding-left: 25px;
        font-family: Lato, sans-serif;
        text-transform: uppercase
    }
    
    body.full ul.nav-pills li a{
        text-align: left;
        background: transparent url(../images/back-mob-nav-li.png) no-repeat left bottom;
        padding-bottom: 18px;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        
        
    }
    
    body.full ul.nav-pills li a:hover {
        background-color: transparent !important;
        color: $brand-color !important;
    }
    
    body.full .nav-pills.nav-justified > .active > a {
        background-color: transparent;
        color: $brand-color;
    }
    
    body.full header {
        border: none;
    }
    
    .col-md-3 {
        width: 45%;
        padding:0 5px;
        float: left;
        margin-bottom: 10px !important;
    }
    
    .main-book .col-md-3.social {
        width: 100%;
        text-align: left;
        margin-left: 10px;
        margin-bottom: 25px !important;}
        
    .purchase-buttons .col-md-3 {
        width: 50%;
        
    }
    
    .purchase-buttons a {
        font-size: 18px !important;
    }
    
    .main-book a.btn {
        height: 40px;
    }
    
    .row.about-book .mobile {
        display: none;
    }
        
    .main-book .col-md-12.h-div {
        clear: both;
        width: 100%;
    }
    
    .container.main-book {
        background: #dce6e6;
        margin-top: 0;
    }
    
    .row.also-bouht.popular,
    .row.also-bouht.topic,
    .row.also-bouht {
        padding-left: 10%;
    }
    
    .explore-topic {
        padding: 15px 25px;
        height: 180px;
        margin-bottom: 10px;
    }
    
    .explore-topic span {
        margin-bottom:10px;
    }
    
    .h-div span {
        padding: 5px 15px;
    }
    
    a.cross.btn {
        margin-left: 30px;
    }
    
    #footer {
        display: none;
    }
    
    .row.topic-banner {
        height: 197px;
        margin-top: 0
    }
    
    .row.topic-banner h1 {
        font-size: 24px;
        margin-top: 40px;
    }
    
    .row.topic-banner p {
        font-size: 16px;
    }
    
    .nav-pills .mobile-view {
        display: block
    }
    
    .mobile-view.footer {
        font-size: 12px;
        color: #fff;
        text-transform: none;
        width: 400px;
        margin-top: 10px;
        text-align: left;
    }
    
    .mobile-view.footer .copyright a.fb,
    .mobile-view.footer .copyright a.twt {
        width: 48px;
        height: 48px;
        display: block;
        float: left;
        margin-left: 10px;
        margin-top: 15px;
        margin-bottom: 25px;
        background: url(../images/icon_fb.png) no-repeat;
    }
    
    .mobile-view.footer .copyright a.twt {
        background: url(../images/icon_twitter.png) no-repeat;
    }
    
    .mobile-view.footer .copyright span {
        display: block;
        clear: both;
        margin-left: 15px;
    }
    
}

@media (max-width: 1152px) {

.nav.nav-pills a,
.btn.buy {
font-size:14px;
font-weight:normal;
}

a.cross {
    margin-left:0
}

a.herder {
    margin-left:30px;
}

} //@media max-width: 1152px

